{% extends "base.html" %}
  {% block title %}- Home{% endblock %}
  {% block content %}
    <div style="width:70%;" class="container">
      {% if not data %}
        <h1>No users. <a href="/add">Add</a></h1>
      {% else %}
      <table class="table">
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Birthday</th>
          <th>BizzFuzz</th>
          <th>Options</th>
        </tr>
          {% for object in data %}
          <tr>
            <td>{{object.first_name}}</td>
            <td>{{object.last_name}}</td>
            <td>{{object.birthday}}</td>
            <td>{{object.random_number}}</td>
            <td><a href="/remove?id={{object.id}}">Remove</a> | <a href="/edit?id={{object.id}}">Edit</a>
          </tr>
          {% endfor %}
      </table>
      {% endif %}
    </div>
  {% endblock %}

